.corpo__lista {
  margin: 4rem auto;
  width: var(--largura-desktop);
}
.corpo__lista:first-child {
  margin-top: 2rem;
}
.corpo__lista__topo {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}
.corpo__lista__topo__titulo {
  font-size: 32px;
  font-weight: 700;
  font-family: "Raleway", sans-serif;
}
.corpo__lista__topo__link {
  font-weight: 700;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  text-decoration: none;
  color: #2a7ae4;
  align-self: center;
}
.corpo__lista__conteudo {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: calc(10% / 5);
  margin: auto;
}

.corpo__lista__conteudo__item {
  width: 15%;
}
.corpo__lista__conteudo__item__imagem {
  width: 100%;
  display: block;
  margin-bottom: 0.5rem;
  max-width: 100%;
  width: auto;
}
.corpo__lista__conteudo__item__titulo {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 14px;
  margin-bottom: 0.5rem;
}
.corpo__lista__conteudo__item__preco {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 1rem;
  margin-bottom: 0.5rem;
}
.corpo__lista__conteudo__item__link {
  font-weight: 700;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  text-decoration: none;
  color: #2a7ae4;
}

@media screen and (max-width: 850px) {
  .corpo__lista {
    width: var(--largura-mobile);
  }
  .corpo__lista__topo__titulo {
    font-size: 22px;
  }
  .corpo__lista__conteudo {
    gap: calc(10% / 3);
  }
  .corpo__lista__conteudo__item:nth-last-child(-n + 2) {
    display: none;
  }
  .corpo__lista__conteudo__item {
    width: calc(90% / 4);
  }
}

@media screen and (max-width: 425px) {
  .corpo__lista {
    margin: 2rem auto;
  }
  .corpo__lista:first-child {
    margin-top: 1rem;
  }
  .corpo__lista:last-child {
    margin-bottom: 1rem;
  }
  .corpo__lista__conteudo {
    gap: 16px 5%;
  }
  .corpo__lista__conteudo__item:nth-last-child(-n + 2) {
    display: none;
  }
  .corpo__lista__conteudo__item {
    width: calc(95% / 2);
  }
}
