.corpo--produto {
  background-color: var(--background-default);
}
.corpo__produto__container {
  width: var(--largura-desktop);
  padding-top: 4rem;
  margin: auto;
  display: grid;
  gap: 0 1rem;
  grid-template-areas: "imagem info";
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
}
.corpo__produto__container__imagem {
  grid-area: imagem;
  width: 100%;
  height: 30vw;
  background: url(../../assets/produtos/unsplash_6FDXGY9J6y4.png) center /
    contain no-repeat;
}
.corpo__produto__container__info {
  grid-area: info;
  display: flex;
  flex-direction: column;
}
.corpo__produto__container__info__titulo {
  font-size: 52px;
  font-weight: 500;
  font-family: "Raleway", sans-serif;
}
.corpo__produto__container__info__preco {
  margin: 0.5rem 0;
  font-weight: 700;
  font-family: "Raleway", sans-serif;
}
.corpo__produto__container__info__descricao {
  color: #464646;
}

@media screen and (max-width: 850px) {
  .corpo__produto__container {
    width: var(--largura-mobile);
    padding-top: 2rem;
  }

  .corpo__produto__container__info__titulo {
    font-size: 26px;
  }

  .corpo__produto__container__info__descricao {
    font-size: 14px;
  }
}

@media screen and (max-width: 425px) {
  .corpo__produto__container {
    width: 100%;
    padding-top: 0;
    display: grid;
    gap: 0;
    grid-template-areas:
      "imagem"
      "info";
    grid-template-columns: none;
    align-items: center;
  }
  .corpo__produto__container__imagem {
    background-size: cover;
    width: 100vw;
    height: 26vh;
    margin-bottom: 1rem;
  }
  .corpo__produto__container__info {
    width: var(--largura-mobile);
    margin: auto;
  }
}
