.header__vitrine {
  background: url("../../assets/header/banner-image.png") center / cover
    no-repeat;
  width: 100vw;
  height: 40vh;
}

@media screen and (max-width: 400px) {
  .header__vitrine {
    height: 30vh;
  }
}
